.first{
	font-family: '微软雅黑';
	font-size: 20px;
	color: #686868;
}
.second{
	font-family: Arial;
	font-size: 12px;
	color: #a9a8a8;
}
.third{
	color: #22a3d3;
	text-decoration: none;
}
p{
	text-indent: 2em;
}
.a{
	background-image: url(images/line.gif);
	height:40px;
}
.b{
	background-image: url(images/line.gif);
}